// Colores
$primary-color: #f6e60a;

// Fuentes
$font-principal: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

// Medidas
$header-padding: 2rem;